<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLEF2019 | Listen {{ .Topic }}</title>
    {{ template "libraries" }}
</head>
<body>
{{ template "nav" }}
<main>
    <article class="card">
        <header>
            <h2>Listen to topic {{ .Topic }}.</h2>
        </header>
        <footer>
            <audio controls preload="auto" src="{{ template "basedir" }}/topics/{{ .Topic }}.wav" type="audio/wav"></audio>
        </footer>
    </article>

    <article class="card">
        <header><h2>Record your query.</h2></header>
        <footer>
            <button class="button error" id="start-recording">start</button>
            <button class="button error" id="stop-recording" disabled>stop</button>
            <div id="audios-container"></div>
            <div>
                <a href="javascript:window.location = window.location.href" class="pseudo button">new recording</a>
            </div>
        </footer>
    </article>

    <article class="card">
        <footer>
            <button onclick="javascript:window.location.href = '{{ template "basedir" }}/voice/{{ .User }}/{{ .Topic }}/write/'" id="next" class="button" style="float: right;margin-bottom: 12pt" disabled>continue</button>
        </footer>
    </article>
</main>
</body>
<script src="{{ template "basedir" }}/static/MediaStreamRecorder.js" type="text/javascript"></script>
<script src="{{ template "basedir" }}/static/ConcatenateBlobs.js" type="text/javascript"></script>
<script type="text/javascript">
    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
    }

    var mediaConstraints = {
        audio: true
    };

    document.querySelector('#start-recording').onclick = function () {
        this.disabled = true;
        captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
        document.querySelector('#stop-recording').disabled = false;

    };

    document.querySelector('#stop-recording').onclick = function () {
        this.disabled = true;
        mediaRecorder.stop();
        mediaRecorder.stream.stop();

        ConcatenateBlobs(mediaRecorder.blobs(), mediaRecorder.blobs()[0].type, function (blob) {
            console.log(blob);
            var req = new XMLHttpRequest();
            req.open("post", "{{ template "basedir" }}/voice/{{ .User }}/{{ .Topic }}/write/", true);
            req.onload = function (e) {
                console.log(e);
                document.querySelector('#next').disabled = false;
                document.querySelector('#stop-recording').innerHTML = "<p>You have made a recording. Press next to continue.</p>"
            };
            req.send(blob);
        });
    };

    var mediaRecorder;

    function onMediaSuccess(stream) {
        var audio = document.createElement('audio');

        audio = mergeProps(audio, {
            controls: true,
            muted: true
        });
        audio.srcObject = stream;
        audio.play();

        mediaRecorder = new MediaStreamRecorder(stream);
        mediaRecorder.stream = stream;

        mediaRecorder.recorderType = StereoAudioRecorder;
        mediaRecorder.mimeType = 'audio/wav';

        mediaRecorder.audioChannels = 1;

        // get blob after specific time interval
        mediaRecorder.start(1000000);
    }

    function onMediaError(e) {
        console.error('media error', e);
    }

    window.onbeforeunload = function () {
        document.querySelector('#start-recording').disabled = false;
    };
</script>
</html>